.task {
    background-color: grey;
    margin: 5px 5px 5px 5px;
    padding: 10px;
    border-radius: 5px;
}

.btn {
    background-color: whitesmoke;
    text-align: center;
    padding: 0;
    margin: 5px;
    width: 30px;


}

.input {
    background-color: gray;
    color: black;
    border: 0;
}

.level {
    margin: auto 5px auto 20px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
  }
::-moz-placeholder { /* Firefox 19+ */
    color: black;
  }
:-ms-input-placeholder { /* IE 10+ */
    color: black;
  }
:-moz-placeholder { /* Firefox 18- */
    color: black;
  }