<ng-template #loading>
  kindof
</ng-template>

<ng-template #nosubtasks>
  no subtasks
</ng-template>

<ul *ngIf="tasks$; else loading">
  <p> yea </p>

  <li *ngFor="let task of tasks$">
    <div>
      <button class="btn  input-group-prepend">...</button>
      <button class="btn">ok</button>
      <label class="lightweight-table">{{task?.name}}</label>
      <input class="input" #box (keyup.enter)="update(box.value, task)">
      <button class="btn">thrash</button>
    </div>

    <div *ngIf="task?.subtasks; else nosubtasks">
      subtask
      <app-task [key]="key" [data]="task[key]"></app-task>
    </div>
  </li>
</ul>