<input type="text" #box (keyup.enter)="addTask(box.value)" placeholder="new task">




<button class="btn" (click)="print(tasks$)">...</button>


<div *ngFor="let task of tasks$ | async">
  
  <div *ngIf="task.subtasks; else noSubtasks">
    <app-task [key]="key" [data]="task"(messageEvent)="recieveMessage($event)"></app-task>
    <div *ngFor="let sub of task.subtasks">
      <app-task [key]="key" [data]="task" (messageEvent)="recieveMessage($event)"></app-task>
    </div>

  </div>
  <ng-template #noSubtasks>
    <app-task [key]="key" [data]="task" (messageEvent)="recieveMessage($event)"></app-task>
  </ng-template>
</div>